# general
pykernel
ipywidgets
pyserial

# for ur robots control
ur_rtde

# cameras
matplotlib
pyrealsense2
opencv-contrib-python

# data collection
filelock
numpy>=1.17
pyarrow>=15.0.0
dill>=0.3.0,<0.3.9
pandas
requests>=2.32.2
tqdm>=4.66.3
xxhash
multiprocess<0.70.17
fsspec[http]>=2023.1.0,<=2025.3.0
huggingface-hub>=0.24.0
packaging
pyyaml>=5.1
jsonlines>=4.0.0
av>=14.2.0
pillow
deepdiff>=7.0.1,<9.0.0
Jinja2
scipy