body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

/*
.publication-title {
}
*/
.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}
/*
.publication-header .hero-body {
}
*/
.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}
/*
.publication-authors {
}
*/
.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}
/*
.publication-banner img {
}

.publication-authors {
  color: #4286f4;
} 
*/

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
.publication-body img {
}
*/

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.element-block{
  margin-top: 30px;
  margin-bottom: 30px;
}

.undernote{
  margin-top: 0px;
}

.interpolation-panel {
  /*background: #f5f5f5;*/
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}
/*
.interpolation-video-column {
}
*/
.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

/*Mine*/

/* Базовое выравнивание для всех ячеек */
th, td {
  text-align: left;
}

/* Центрирование заголовков */
th {
  text-align: center;
}

/* Выравнивание первого столбца (No.) по левому краю */
td:nth-child(1) {
  text-align: right;
}

/* Выравнивание третьего столбца (Quantity) по левому краю */
td:nth-child(3) {
  text-align: right;
}

h5 {
  margin-top: 40px;
}

/*Tabs*/

.tabcontent {
  display: none; /* Скрываем все содержимое вкладок по умолчанию */
}

.tabcontent.active {
  display: block; /* Показываем только активную вкладку */
}

/* Увеличенная специфичность для активной вкладки */
.tabs.is-boxed .is-active a {
  background-color: #fff;
  border-bottom: none !important; /* Принудительное переопределение */
}

/*Mine*/

.intab-text{
  margin: 30px;
}

.vid{
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

/*Сворачивание таблиц*/

.spoiler-table {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.spoiler-table[open] {
  animation: slide-down 0.3s ease-in-out;
}

.spoiler-table:not([open]) {
  animation: slide-up 0.3s ease-in-out;
}

.table-header {
  cursor: pointer;
  background-color: #fff;
  list-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
  position: relative; /* Для позиционирования стрелки */
}
.table-header::-webkit-details-marker {
  display: inline; /* Восстанавливаем маркер в Webkit */
}

.table-header:hover {
  background-color: #4A4A4A;
  color: #fff;
}
.table-header:hover th {
  color: #fff;
}

.table-header::before {
  content: '';
  position: absolute;
  left: -20px; /* Смещение стрелки за пределы */
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4A4A4A; /* Цвет стрелки */
  transition: transform 0.3s ease, border-top-color 0.3s ease;
}
.spoiler-table[open] .table-header::before {
  transform: translateY(-50%) rotate(180deg); /* Поворот стрелки вверх */
  border-top-color: #fff; /* Цвет при открытом состоянии */
}

@keyframes slide-down {
  from {
    max-height: 3rem;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes slide-up {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 3rem;
  }
}

/*Кнопки-переключатели*/

.content-section {
  display: none;
}

.button.is-primary {
  background-color: #f5f5f5;
  color: #4A4A4A;
  border: 1px solid #B9B9B9;
}

.button.is-primary:hover {
  background-color: #f5f5f5;
  color: #4A4A4A;
  border: 1px solid #B9B9B9;
}

.link-list {
  margin-top: 10px;
}

.toggle-buttons{
  margin-top: 60px;
  margin-bottom: 0px;
}

.move-up{
  margin-top: -20px;
}

.move-left{
  margin-left: 0px;
}

/*Кнопка для возвращения наверх*/

.content-section {
  display: none;
}



.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4A4A4A;
  border: 1px solid #DDDDDD;
  text-decoration: none;
  transition: opacity 0.3s ease;
  opacity: 0; /* Начальная скрытость */
  visibility: hidden; /* Скрываем полностью до активации */
}

.back-to-top.visible {
  opacity: 1; /* Показываем при активации */
  visibility: visible;
}

.back-to-top:hover {

  color: #4A4A4A;
  border: 1px solid #B9B9B9;
}

.back-to-top .icon {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Кастомная стрелка в виде двух смежных сторон квадрата */
.back-to-top .icon::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-left: 3px solid #4A4A4A; /* Левая сторона */
  border-bottom: 3px solid #4A4A4A; /* Нижняя сторона */
  transform: rotate(135deg); /* Поворот для указания вверх */
  transform-origin: center;
  bottom: 13px;
}